<header class="navbar navbar-inverse navbar-fixed_top">
  <div class="container">  
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar_nav navbar-right">      
        <li>
          <%= link_to 'home',new_user_session_path,{:class=>"glyphicon glyphicon-home"} %>
        </li>
        <li>
          <%= link_to(new_user_session_path) do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
          <% end %>
        </li>
        <li>
          <%= link_to(new_user_session_path) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up
          <% end %>
        </li>
        <li>
          <%= link_to(new_user_session_path) do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>login
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>











<div class="container">
  <div class="row">
    <div class="message_box">
      <h1>welcome to
        <span class="glyphicon glyphicon-book" aria-hidden="true">
          <strong>Bookers </strong>!!
        </span>
      </h1>
      <p>In
        <span class="glyphicon glyphicon-book" aria-hidden="true">
          <strong>Bookers,</strong>
        </span>
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about varioius books!</p>
    </div>  
  </div>
</div>
<div class="container">
  <div class="row" style="background-color:skyblue">
    <%= link_to "Log in" %>
  </div>
  <div class="row" style="background-color:lightgreen">
    <%= link_to "Sign Up" %>
  </div>
</div>
<footer>
  <div class="container">
    <div>
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</footer>