<header class="col-bl navbar nav_top nav_inverse">
  <div class="container">  
    <nav class="nav navber_nav nav_left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navber_nav nav_right">
      
        <li>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          <%= link_to "home" %>
        </li>
        <li>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <%= link_to "About" %>
        </li>
        <li>
          <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color:white"></span>
          <%= link_to "Sign up" %>
        </li>
        <li>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          <%= link_to "login" %>
        </li>
      </ul>
    </nav>
  </div>
</header>











<div class="container">
  <div class="row">
    <div class="message_box">
      <h1>welcome to
        <span class="glyphicon glyphicon-book" aria-hidden="true">
          <strong>Bookers </strong>!!
        </span>
      </h1>
      <p>In
        <span class="glyphicon glyphicon-book" aria-hidden="true">
          <strong>Bookers,</strong>
        </span>
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about varioius books!</p>
    </div>  
  </div>
</div>
<div class="container">
  <div class="row" style="background-color:skyblue">
    <%= link_to "Log in" %>
  </div>
  <div class="row" style="background-color:lightgreen">
    <%= link_to "Sign Up" %>
  </div>
</div>
<footer>
  <div class="container">
    <div>
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</footer>